/* contenitore interno  */

#first-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
  background-color: black;
}
/* stile box  */

.box {
  text-align: center;
  width: calc((100% - 120px) / 7);
  padding: 30px;
  background-color: #1189b2;
}

/* utilities colori  */

.box--g {
  background-color: #0fd6a1;
}

.box--y {
  background-color: #ffd166;
}

.box--r {
  background-color: #f0466f;
}
